In [1]:
import pandas as pd

### Data

Dataset contain the data about projects funded by public budget or crowdfunding

In [2]:
projects_df = pd.read_excel("new_data_cleared_v2.xlsx", sheet_name = 'new_data')

In [3]:
projects_df2 = pd.read_excel("new_data_cleared_v2.xlsx", sheet_name = 'new_data (1)')

In [4]:
projects_df2["collected_money"] = projects_df2.expected_amount==projects_df2.collected_amount
projects_df["collected_money"] = projects_df.expected_amount==projects_df.collected_amount

### Main difference between two sheets

In the first dataset all project from 'Громадський бюджет' that collected money are successful. Will work with second one.

In [5]:
projects_df.groupby(["collected_money", 'platform_type', "status"]).count()

                                                  id  title  expected_amount  \
collected_money platform_type      status
False           Краудфандинг       Неуспішний    603    603              603
                                   Успішний      842    842              842
True            Громадський бюджет Успішний    14858  14858            14858
                Краудфандинг       Успішний      328    328              328

                                               collected_amount  \
collected_money platform_type      status
False           Краудфандинг       Неуспішний               603
                                   Успішний                 842
True            Громадський бюджет Успішний               14858
                Краудфандинг       Успішний                 328

                                               engaged_number  theme  \
collected_money platform_type      status
False           Краудфандинг       Неуспішний             603    573
                                   Успішний               842    798
True            Громадський бюджет Успішний             14858  14270
                Краудфандинг       Успішний               328    314

                                               location  platform  capital  \
collected_money platform_type      status
False           Краудфандинг       Неуспішний        29       603      603
                                   Успішний          39       842      842
True            Громадський бюджет Успішний       14858         0    14858
                Краудфандинг       Успішний          14       328      328

                                                year
collected_money platform_type      status
False           Краудфандинг       Неуспішний    603
                                   Успішний      842
True            Громадський бюджет Успішний    14858
                Краудфандинг       Успішний      328

In [6]:
projects_df2.groupby(["collected_money", 'platform_type', "status"]).count()

                                                  id  title  expected_amount  \
collected_money platform_type      status
False           Краудфандинг       Неуспішний    603    603              603
                                   Успішний      842    842              842
True            Громадський бюджет Неуспішний  10157  10157            10157
                                   Успішний     4312   4312             4312
                Краудфандинг       Успішний      328    328              328

                                               collected_amount  \
collected_money platform_type      status
False           Краудфандинг       Неуспішний               603
                                   Успішний                 842
True            Громадський бюджет Неуспішний             10157
                                   Успішний                4312
                Краудфандинг       Успішний                 328

                                               engaged_number  theme  \
collected_money platform_type      status
False           Краудфандинг       Неуспішний             603    573
                                   Успішний               842    798
True            Громадський бюджет Неуспішний           10157   9721
                                   Успішний              4312   4160
                Краудфандинг       Успішний               328    314

                                               location  platform  capital  \
collected_money platform_type      status
False           Краудфандинг       Неуспішний       243       603      603
                                   Успішний         511       842      842
True            Громадський бюджет Неуспішний     10157         0    10157
                                   Успішний        4312         0     4312
                Краудфандинг       Успішний          29       328      328

                                                year  location_year_id  region
collected_money platform_type      status
False           Краудфандинг       Неуспішний    603               603     243
                                   Успішний      842               842     511
True            Громадський бюджет Неуспішний  10157             10157   10157
                                   Успішний     4312              4312    4312
                Краудфандинг       Успішний      328               328      29

### Shape and duplicates

In [7]:
projects_df2.shape

(16242, 15)

In [8]:
projects_df2.head()

,id,title,status,expected_amount,collected_amount,engaged_number,theme,location,platform,platform_type,capital,year,location_year_id,region,collected_money
0,https://budget.e-dem.ua/1810100000/project/12254,Реконструкція території благоустрою бульвару Н...,Неуспішний,18000000.0,18000000.0,456,Естетичне облаштування міста,Житомир,NaN,Громадський бюджет,Інфраструктурний,2020,Житомир2020,Житомирська,True
1,https://budget.e-dem.ua/1810100000/project/12252,Створення багатофункціонального громадського п...,Неуспішний,18000000.0,18000000.0,248,Інше,Житомир,NaN,Громадський бюджет,Інфраструктурний,2020,Житомир2020,Житомирська,True
2,https://budget.e-dem.ua/1810100000/project/12253,Реконструкція кінотеатру «Жовтень» у виставков...,Неуспішний,18000000.0,18000000.0,218,Інше,Житомир,NaN,Громадський бюджет,Інфраструктурний,2020,Житомир2020,Житомирська,True
3,https://budget.e-dem.ua/5300000000_vgb/project...,ВГБ. Впровадження сучасних інформаційних техно...,Успішний,13061664.0,13061664.0,8250,Безпека та громадський порядок,Полтава,NaN,Громадський бюджет,Інфраструктурний,2019,Полтава2019,Полтавська,True
4,https://budget.e-dem.ua/5300000000_vgb/project...,ВГБ. Капітальний ремонт проїзної частини дорог...,Неуспішний,10166606.0,10166606.0,1775,Інше,Полтава,NaN,Громадський бюджет,Інфраструктурний,2019,Полтава2019,Полтавська,True

In [9]:
duplicates_count = projects_df2.groupby(["title", "location"])[["id"]].count().reset_index()
duplicates_count = duplicates_count[duplicates_count["id"]>1]
duplicates_count

                                                   title    location  id
28     "ІНВАТАКСІ" служба транспортного обслуговуванн...       Одеса   2
253                            "Ужгород - гуманне місто"     Ужгород   2
273                                           #МістоNEWS       Луцьк   2
287                                      1 ЗАТИШНИЙ ДВІР   Павлоград   2
493                                         2 СВІТ ДОБРА   Павлоград   2
...                                                  ...         ...  ..
13710  Улаштування дитячого ігрового майданчика для д...    Миколаїв   2
13801                                     Урны для собак       Одеса   3
14073                            Фітнес містечко WorkOut  Мелітополь   2
14282                                  Чисте суспільство    Миколаїв   2
14484                                  Щасливе дитинство    Миколаїв   2

[116 rows x 3 columns]

In [10]:
projects_df2[projects_df2.title.isin(duplicates_count.title)].status.value_counts(dropna = False)

Неуспішний    191
Успішний       70
Name: status, dtype: int64

In [11]:
print(projects_df2.shape)
projects_df2 = projects_df2[~projects_df2.title.isin(duplicates_count.title)]
print(projects_df2.shape)

(16242, 15)
(15981, 15)

### Fillness of the data

In [12]:
projects_df2.platform.value_counts(dropna = False)

NaN            14214
Велика Ідея      807
UBB              347
GoFundEd         218
na-starte        134
RazomGo           77
Мой город         77
komubook          54
Zmist             53
Name: platform, dtype: int64

In [13]:
projects_df2.platform = projects_df2.platform.fillna("Unknown")

In [14]:
projects_df2.platform_type.value_counts(dropna = False)

Громадський бюджет    14214
Краудфандинг           1767
Name: platform_type, dtype: int64

In [15]:
projects_df2.capital.value_counts(dropna = False)

Інфраструктурний    10014
Людський             3234
Культурний           1842
Соціальний            891
Name: capital, dtype: int64

In [16]:
projects_df2.year.value_counts(dropna = False)

2019    4151
2018    3354
2021    3113
2017    2527
2020    1420
2016    1090
2014     124
2015     100
2013      55
2012      47
Name: year, dtype: int64

In [17]:
projects_df2.region.value_counts(dropna = False)

Київ                 4541
Дніпропетровська     2388
Львівська            1091
NaN                   990
Полтавська            967
Запорізька            780
Івано-Франківська     650
Одеська               627
Донецька              504
Тернопільська         363
Миколаївська          305
Чернігівська          302
Кіровоградська        278
Чернівецька           268
Рівненська            258
Харківська            230
Хмельницька           226
Вінницька             223
Волинська             221
Луганська             203
Херсонська            158
Житомирська           142
Сумська               123
Закарпатська           73
Київська               56
Черкаська              14
Name: region, dtype: int64

In [18]:
projects_df2.region = projects_df2.region.fillna("Unknown")

In [19]:
projects_df2.location.value_counts(dropna = False)

Київ                4541
Дніпро              1418
Львів               1091
NaN                  990
Полтава              746
Івано-Франківськ     650
Одеса                627
Кривий Ріг           374
Тернопіль            363
Кам’янське           331
Мелітополь           310
Миколаїв             305
Чернігів             302
Запоріжжя            287
Кропивницький        278
Маріуполь            277
Чернівці             268
Рівне                258
Харків               230
Хмельницький         226
Вінниця              223
Кременчук            221
Луцьк                221
Сєвєродонецьк        203
Нікополь             183
Бердянськ            183
Херсон               158
Житомир              142
Краматорськ          127
Суми                 123
Слов'янськ           100
Павлоград             82
Ужгород               73
Біла Церква           56
Черкаси               14
Name: location, dtype: int64

In [20]:
projects_df2.location = projects_df2.location.fillna("Unknown")

### Save with needed columns

In [22]:
status_map = {'Неуспішний':0, 'Успішний':1}
projects_df2["status_num"] = projects_df2["status"].map(status_map)

In [23]:
projects_df2.columns

Index(['id', 'title', 'status', 'expected_amount', 'collected_amount',
       'engaged_number', 'theme', 'location', 'platform', 'platform_type',
       'capital', 'year', 'location_year_id', 'region', 'collected_money',
       'status_num'],
      dtype='object')

In [24]:
projects_df2[['status_num', 'expected_amount', 'location', 'platform', 'platform_type','capital', 'year']].to_csv("cleaned_public_projects.csv", index = False)